<!DOCTYPE html>
<html lang="fr" id="open-navigation">
<head>
    <meta charset="utf-8">
    <title>Prototype</title>
    <meta name="author" content="neofluxe GmbH">

    <!-- Preventing IE11 to request by default the /browserconfig.xml more than one time -->
    <meta name="msapplication-config">
    <!-- Disable touch highlighting in IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Ensure edge compatibility in IE (HTTP header can be set in web server config) -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <!-- Force viewport width and pixel density. Plus, disable shrinking. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Disable Skype browser-plugin -->
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    
    <!-- google font-->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"> 
    
</head>

<body>

<!-- header-->
<header class="c-header" role="banner">
    <!-- header inner-->
    <div class="c-container c-container-no-padding c-header-inner">
        <div class="c-header-logo">
            <a href="/">
                <img src="../../images/logo-grand-chasseral.png" alt="" />
            </a>
        </div>
        <div class="c-header-nav">
            <!-- meta-->
            <div class="c-header-meta">
                <ul class="c-meta-list">
                    <li><a href="">Devenir membre</a></li>
                    <li><a href="">Qui sommes-nous ?</a></li>
                    <li><a href="">La démarche</a></li>
                </ul>
            </div>
            <nav class="c-main-nav">
                <ul class="c-main-nav-list">
                    <li class="c-active"><a href="">Région</a></li>
                    <li><a href="">Economie</a></li>
                    <li><a href="">Tourisme</a></li>
                    <li><a href="">Grand Chasseral</a></li>
                    <li><a href="">Bâtiment La Couronne</a></li>
                </ul>
            </nav>
            
        </div>
        <!-- offcanvas trigger-->
        <a href="#open-navigation" class="c-offcanvas-trigger c-offcanvas-trigger-open">
            <span class="c-hide-visually">ouvrir le menu</span>
        </a>
    </div>

    <!-- offcanvas nav-->
    <nav class="c-offcanvas-nav">
        <div class="c-offcanvas-inner">
            <div class="c-container c-container-no-padding c-header-inner">
                <!-- offcanvas trigger-->
                <a href="#" class="c-offcanvas-trigger c-offcanvas-trigger-close">
                    <span class="c-hide-visually">fermer le menu</span>
                </a>
            </div>

            <div class="c-container c-offcanvas-content">
                <div class="c-row">
                    <div class="c-col-12">
                        <ul class="c-offcanvas-nav-list c-text-body">
                            <li class="c-active"><a href="">Région</a>
                                <ul>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                </ul>
                            </li>
                            <li><a href="">Economie</a>
                                <ul>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                </ul>
                            </li>
                            <li><a href="">Tourisme</a>
                                <ul>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                </ul>
                            </li>
                            <li><a href="">Grand Chasseral</a>
                                <ul>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                </ul>
                            </li>
                            <li><a href="">Bâtiment La Couronne</a>
                                <ul>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                    <li><a href="">Infrastructures</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- content-->
<main class="c-content" role="main">
    <!-- showroom home, slider-->
    <div class="c-container-wide c-showroom">
        <!-- content slide-->
        <div class="c-showroom-slide">
             <figure class="c-showroom-img">
                 <img src="../../images/tmp/img-showroom.jpg" alt="" />
            </figure> 
            <div class="c-container c-container-no-padding c-showroom-text"> 
                <div class="c-row c-row-align-center"> 
                    <div class="c-col-6 c-showroom-text-inner c-text-light c-text-block"> 
                        <span class="c-category-title c-text-small">Startseite</span> 
                        <h1 class="c-h2">Grand Chasseral</h1>
                        <p class="c-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="c-btn" href="">Primary Button</a>
                    </div> 
                </div> 
            </div> 
        </div>
    </div>
   
    <!-- main title -->
    <div class="c-container c-main-title">
        <div class="c-row">
            <div class="c-col-8">
                <h1>H1 Titel Lorem ipsum dolor</h1>
                <p class="c-lead">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                </p>
            </div>
        </div>
    </div>

    <!-- text only -->
    <div class="c-container c-text-only">
        <div class="c-row">
            <div class="c-col-8 c-text-body c-text-block">
                <h2>Titel h2 lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, <a href="">Textlink</a> no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                <h3>Titel h3 lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, <a href="">Textlink</a> no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                <ul>
                    <li>Beispiel #1 – Consectetur adipiscing elit tempor incididunt</li>
                    <li>Beispiel #2 – Lorem ipsum dolor sit amet consectetur adipiscing elit Excepteur sint occaecat cupidatat</li>
                    <li>Beispiel #3 – Aliquip ex ea commodo consequat officia deserunt mollit anim</li>
                    <li>Beispiel #4 – Duis aute irure dolor in reprehenderit in voluptate deserunt mollit anim</li>
                </ul>

                <p><a class="c-icon c-link-arrow" href="">mehr erfahren</a></p>
                <p><a class="c-icon c-link-download" href="">Link Download</a></p>
                <p><a class="c-icon c-link-extern" href="">Link Extern</a></p>
            </div>
        </div>
    </div>

    <!-- testimonials -->
    <div class="c-container-wide c-testimonial">
        <!-- slider container, slider analog cite du temps,  class mediaslider-start am anfang einfügen für abstand links -->
        <div class="c-mediaslider c-mediaslider-start">
            <div class="c-row">
                <!-- slider-->
                <div class="c-slider">
                    <ul class="c-slider-items">
                        <li>
                            <!-- slider testimonial item-->
                            <div class="c-testimonial-item">
                                <div class="c-testimonial-item-img">
                                    <figure class="c-ratiobox c-ratiobox-4by3"><img src="../../images/tmp/img-testimonial.png" alt="" /></figure>
                                </div>
                                <div class="c-testimonial-item-text c-text-block">
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <cite><strong>Hans Muster,</strong> Funktion</cite>
                                    </blockquote>
                                </div>
                            </div>
                        </li>
                        <li>
                            <!-- slider testimonial item-->
                            <div class="c-testimonial-item">
                                <div class="c-testimonial-item-img">
                                    <figure class="c-ratiobox c-ratiobox-4by3"><img src="../../images/tmp/img-testimonial.png" alt="" /></figure>
                                </div>
                                <div class="c-testimonial-item-text c-text-block">
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <cite><strong>Hans Muster,</strong> Funktion</cite>
                                    </blockquote>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- slider controls-->
        <div class="c-container c-slider-control">
            slider control to be definied
        </div>
    </div>
    
    <!-- slider img -->
    <div class="c-container-wide c-slider-img">
        <!-- slider container, slider analog cite du temps,  class mediaslider-start am anfang einfügen für abstand links -->
        <div class="c-mediaslider c-mediaslider-start">
            <div class="c-row">
                <!-- slider-->
                <div class="c-slider">
                    <ul class="c-slider-items">
                        <li><figure><img src="../../images/tmp/img-showroom.jpg" alt="" /></figure></li>
                        <li><figure><img src="../../images/tmp/img-testimonial.png" alt="" /></figure></li>
                        <li><figure><img src="../../images/tmp/img-testimonial.png" alt="" /></figure></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- slider controls-->
        <div class="c-container c-slider-control">
            slider control to be definied
        </div>
    </div>

    

    <!-- img content wide-->
    <div class="c-container c-img-wide">
       <figure>
           <img src="../../images/tmp/img-placeholder.jpg" alt="" />
           <figcaption class="c-legend c-text-padding-inside">Optionale Bildlegende</figcaption>
        </figure>
    </div>

    <!-- section title -->
    <div class="c-container c-section-title">
        <div class="c-row">
            <div class="c-col-8">
                <h2>Section title</h2>
            </div>
        </div>
    </div>

    <!-- form-->
    <div class="c-container c-form-standard">
        <div role="form" class="wpcf7" id="wpcf7-f3889-p3890-o1" dir="ltr" lang="en-US">
            <div class="screen-reader-response">
                <p role="status" aria-live="polite" aria-atomic="true">Ein oder mehrere Felder weisen einen Fehler auf. Bitte überprüfe das und versuche es erneut.</p>
                <ul>
                    <li id="wpcf7-f22-p23-o1-ve-your-name">Dies ist ein Pflichtfeld.</li>
                    <li id="wpcf7-f22-p23-o1-ve-your-email">Dies ist ein Pflichtfeld.</li>
                    <li id="wpcf7-f22-p23-o1-ve-your-subject">Dies ist ein Pflichtfeld.</li>
                </ul>
            </div>

            <form action="/contact-2/#wpcf7-f3889-p3890-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="3889">
                    <input type="hidden" name="_wpcf7_version" value="5.4.1">
                    <input type="hidden" name="_wpcf7_locale" value="en_US">
                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f3889-p3890-o1">
                    <input type="hidden" name="_wpcf7_container_post" value="3890">
                    <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                </div>

                <!-- error -->
                <div class="wpcf7-response-output" aria-hidden="true">Ein oder mehrere Felder weisen einen Fehler auf. Bitte überprüfe das und versuche es erneut.</div>



                <h4 class="c-h3">Ihre Anfrage</h4>

                <div class="c-form-item">
                    <label><span class="c-form-label-text">Anfrage</span>
                        <span class="wpcf7-form-control-wrap your-message">
                            <textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea>
                        </span>
                    </label>
                </div>

                <h4 class="c-h3">Kontaktdaten</h4>

                <div class="c-form-item c-form-multiline">
                    <span class="wpcf7-form-control-wrap radio-710">
                        <span class="wpcf7-form-control wpcf7-radio wpcf7-not-valid" aria-describedby="wpcf7-f22-p23-o1-ve-radio-710">
                            <span class="wpcf7-list-item first">
                                <label>
                                    <input type="radio" name="radio-710" value="Option 1" checked="checked">
                                    <span class="wpcf7-list-item-label">Privatperson</span>
                                </label>
                            </span>
                            <span class="wpcf7-list-item">
                                <label>
                                    <input type="radio" name="radio-710" value="Option 2" checked="checked">
                                    <span class="wpcf7-list-item-label">Unternehmen</span>
                                </label>
                            </span>
                            <span class="wpcf7-list-item last">
                                <label>
                                    <input type="radio" name="radio-710" value="Option 3">
                                    <span class="wpcf7-list-item-label">Gemeinschaft</span>
                                </label>
                            </span>
                        </span>
                    </span>
                </div>

               

                <div class="c-form-item">
                    <span class="wpcf7-form-control-wrap checkbox-353">
                        <span class="wpcf7-form-control wpcf7-checkbox">
                            <span class="wpcf7-list-item first">
                                <label>
                                    <input type="checkbox" name="checkbox-353[]" value="Check 1">
                                    <span class="wpcf7-list-item-label">Check 1</span>
                                </label>
                            </span>
                            <span class="wpcf7-list-item last">
                                <label>
                                    <input type="checkbox" name="checkbox-353[]" value="Check 2">
                                    <span class="wpcf7-list-item-label">Check 2</span>
                                </label>
                            </span>
                        </span>
                    </span>
                </div>

                <div class="c-form-item">
                    <span class="wpcf7-form-control-wrap radio-710">
                        <span class="wpcf7-form-control wpcf7-radio wpcf7-not-valid" aria-describedby="wpcf7-f22-p23-o1-ve-radio-710">
                            <span class="wpcf7-list-item first">
                                <label>
                                    <input type="radio" name="radio-710" value="Option 1" checked="checked">
                                    <span class="wpcf7-list-item-label">Option 1</span>
                                </label>
                            </span>
                            <span class="wpcf7-list-item last">
                                <label>
                                    <input type="radio" name="radio-710" value="Option2">
                                    <span class="wpcf7-list-item-label">Option2</span>
                                </label>
                            </span>
                        </span>
                    </span>
                </div>
                
                <div class="c-form-item">
                    <label><span class="c-form-label-text">Label dropdown</span>
                        <span class="wpcf7-form-control-wrap menu-969">
                            <select name="menu-969" class="wpcf7-form-control wpcf7-select" aria-invalid="false">
                                <option value="">---</option>
                                <option value="Option 1">Option 1</option>
                                <option value="Option 2">Option 2</option>
                            </select>
                        </span>
                    </label>
                </div>

                <!-- formfield error-->
                <div class="c-form-item">
                    <label><span class="c-form-label-text">Your name</span>
                        <span class="wpcf7-form-control-wrap your-name">
                            <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required wpcf7-not-valid" aria-required="true" aria-invalid="false">
                            <span class="wpcf7-not-valid-tip" aria-hidden="true">Dies ist ein Pflichtfeld.</span>
                        </span>
                    </label>
                </div>

                <div class="c-form-item">
                    <label><span class="c-form-label-text">Your email</span>
                        <span class="wpcf7-form-control-wrap your-email">
                            <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false">
                        </span>
                    </label>
                </div>

                <div class="c-form-item">
                    <label><span class="c-form-label-text">Subject</span>
                        <span class="wpcf7-form-control-wrap your-subject">
                            <input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                        </span>
                    </label>
                </div>

                

                 <div class="c-form-item c-text-small">
                    *Pflichtfelder
                </div>

                <div class="c-form-item">
                    <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit">
                </div>


            </form>
        </div>
    </div>

</main>

<!-- footer-->
<footer class="c-footer" role="contentinfo">
    <!-- back to top link-->
    <div class="c-container c-container-no-padding c-footer-top c-text-right">
        <a class="c-icon c-link-top" href="">Haut de la page</a>
    </div>
    <div class="c-container-wide c-footer-bg c-text-light">
        <!-- footer main-->
        <div class="c-container c-container-no-padding c-footer-main">
            <div class="c-row">
                <div class="c-col-5 c-text-block">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul class="c-link-list">
                        <li><a class="c-icon c-link-arrow" href="">Devenir membre</a></li>
                        <li><a class="c-icon c-link-arrow" href="">Actualités</a></li>
                        <li><a class="c-icon c-link-arrow" href="">Contact</a></li>
                    </ul>
                </div>
                <div class="c-col-5">
                   <h5>Partenaires</h5> 
                </div>
                <div class="c-col-2">
                   <h5>Suivez-nous</h5> 
                </div>
            </div>
        </div>
        <!-- footer disclaimer-->
        <div class="c-container c-container-no-padding c-footer-disclaimer">
            <ul class="c-footer-disclaimer-list">
                <li>&copy; Grand Chasseral</li>
                <li><a href="/">Impressum</a></li>
                <li><a href="/">Politique de confidentialité</a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- cookie notice-->
<div class="c-cookie-notice c-text-block c-text-small" id="cookie-notice">
    <p>Diese Website benutzt Cookies. Wenn Sie die Website weiter nutzen, gehen wir von Ihrem Einverständnis aus.
        <a href="/">Datenschutzerklärung.</a>
    </p>
    <a class="c-btn c-btn-small" href="#" id="accept-cookie-notice">OK</a>
</div>
</body>
</html>
