<!DOCTYPE html>
<html lang="fr" id="open-navigation">
<head>
    <meta charset="utf-8">
    <title>Prototype</title>
    <meta name="author" content="neofluxe GmbH">

    <!-- Preventing IE11 to request by default the /browserconfig.xml more than one time -->
    <meta name="msapplication-config">
    <!-- Disable touch highlighting in IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Ensure edge compatibility in IE (HTTP header can be set in web server config) -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <!-- Force viewport width and pixel density. Plus, disable shrinking. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Disable Skype browser-plugin -->
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    
    <!-- google font-->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"> 
    
</head>

<body>

<!-- header-->
<header class="c-header" role="banner">
    placeholder header
</header>

<!-- content-->
<main class="c-content" role="main">
    <div class="c-container">
        <h1>Teaser</h1>
    </div>
    
    <!-- teaser 2 col-->
    <div class="c-container c-teaser c-teaser-2col">
        <div class="c-row">
            <div class="c-col-6">
                <div class="c-teaser-item">
                    <figure class="c-ratiobox c-ratiobox-3by2">
                        <img src="../../images/tmp/img-teaser.jpg" alt="" />
                    </figure>
                    <div class="c-teaser-item-text">
                        <span class="c-category-title">Category Title</span>
                        <h3 class="c-h4">Lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="c-icon c-link-arrow" href="">Standard Link</a>
                    </div>
                </div>
            </div>
            <div class="c-col-6">
                <div class="c-teaser-item">
                    <figure class="c-ratiobox c-ratiobox-3by2">
                        <img src="../../images/tmp/img-teaser.jpg" alt="" />
                    </figure>
                    <div class="c-teaser-item-text">
                        <span class="c-category-title c-text-small">Category Title</span>
                        <h3 class="c-h4">Lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="c-icon c-link-arrow" href="">Standard Link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- teaser 3 col-->
    <div class="c-container c-teaser c-teaser-3col">
        <div class="c-row">
            <div class="c-col-4">
                <div class="c-teaser-item">
                    <figure class="c-ratiobox c-ratiobox-3by2">
                        <img src="../../images/tmp/img-teaser.jpg" alt="" />
                    </figure>
                    <div class="c-teaser-item-text">
                        <span class="c-category-title">Category Title</span>
                        <h3 class="c-h4">Lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="c-icon c-link-arrow" href="">Standard Link</a>
                    </div>
                </div>
            </div>
            <div class="c-col-4">
                <div class="c-teaser-item">
                    <figure class="c-ratiobox c-ratiobox-3by2">
                        <img src="../../images/tmp/img-teaser.jpg" alt="" />
                    </figure>
                    <div class="c-teaser-item-text">
                        <span class="c-category-title c-text-small">Category Title</span>
                        <h3 class="c-h4">Lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="c-icon c-link-arrow" href="">Standard Link</a>
                    </div>
                </div>
            </div>
            <div class="c-col-4">
                <div class="c-teaser-item">
                    <figure class="c-ratiobox c-ratiobox-3by2">
                        <img src="../../images/tmp/img-teaser.jpg" alt="" />
                    </figure>
                    <div class="c-teaser-item-text">
                        <span class="c-category-title c-text-small">Category Title</span>
                        <h3 class="c-h4">Lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="c-icon c-link-arrow" href="">Standard Link</a>
                    </div>
                </div>
            </div>
            <div class="c-col-4">
                <div class="c-teaser-item">
                    <figure class="c-ratiobox c-ratiobox-3by2">
                        <img src="../../images/tmp/img-teaser.jpg" alt="" />
                    </figure>
                    <div class="c-teaser-item-text">
                        <span class="c-category-title c-text-small">Category Title</span>
                        <h3 class="c-h4">Lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="c-icon c-link-arrow" href="">Standard Link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- teaser 4 col-->
    <div class="c-container c-teaser c-teaser-4col">
        <div class="c-row">
            <div class="c-col-3">
                <div class="c-teaser-item">
                    <figure class="c-ratiobox c-ratiobox-3by2">
                        <img src="../../images/tmp/img-teaser.jpg" alt="" />
                    </figure>
                    <div class="c-teaser-item-text">
                        <span class="c-category-title">Category Title</span>
                        <h3 class="c-h4">Lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="c-icon c-link-arrow" href="">Standard Link</a>
                    </div>
                </div>
            </div>
            <div class="c-col-3">
                <div class="c-teaser-item">
                    <figure class="c-ratiobox c-ratiobox-3by2">
                        <img src="../../images/tmp/img-teaser.jpg" alt="" />
                    </figure>
                    <div class="c-teaser-item-text">
                        <span class="c-category-title c-text-small">Category Title</span>
                        <h3 class="c-h4">Lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="c-icon c-link-arrow" href="">Standard Link</a>
                    </div>
                </div>
            </div>
            <div class="c-col-3">
                <div class="c-teaser-item">
                    <figure class="c-ratiobox c-ratiobox-3by2">
                        <img src="../../images/tmp/img-teaser.jpg" alt="" />
                    </figure>
                    <div class="c-teaser-item-text">
                        <span class="c-category-title c-text-small">Category Title</span>
                        <h3 class="c-h4">Lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="c-icon c-link-arrow" href="">Standard Link</a>
                    </div>
                </div>
            </div>
            <div class="c-col-3">
                <div class="c-teaser-item">
                    <figure class="c-ratiobox c-ratiobox-3by2">
                        <img src="../../images/tmp/img-teaser.jpg" alt="" />
                    </figure>
                    <div class="c-teaser-item-text">
                        <span class="c-category-title c-text-small">Category Title</span>
                        <h3 class="c-h4">Lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="c-icon c-link-arrow" href="">Standard Link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <!-- teaser 2 col asymmetric -->
    <div class="c-container-wide c-teaser-2col-asym">
        <!-- seitenwechsel class c-row-reverse hinzufügen-->
        <div class="c-row">
            <div class="c-col-6">
                <figure class="c-teaser-2col-asym-img">
                    <img src="../../images/tmp/img-teaser.jpg" alt="" />
                </figure>            
            </div>
            <div class="c-col-6">
                <div class="c-teaser-2col-asym-text c-text-block">
                    <span class="c-category-title c-text-small">Category Title</span>
                    <h3>Lorem ipsum dolor</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="c-btn" href="">Primary Button</a>
                    <!-- link-list separator-->
                    <hr class="c-link-list-separator" />                
                    <h4>Link list</h4>
                    <ul class="c-link-list">
                        <li><a class="c-icon c-link-arrow" href="">mehr erfahren</a></li>
                        <li><a class="c-icon c-link-download" href="">Link Download</a></li>
                        <li><a class="c-icon c-link-extern" href="">Link Extern</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- teaser 2 col asymmetric -->
    <div class="c-container-wide c-teaser-2col-asym">
        <!-- seitenwechsel class c-row-reverse hinzufügen-->
        <div class="c-row c-row-reverse">
            <div class="c-col-6">
                <figure class="c-teaser-2col-asym-img">
                    <img src="../../images/tmp/img-teaser.jpg" alt="" />
                </figure>            
            </div>
            <div class="c-col-6">
                <div class="c-teaser-2col-asym-text c-text-block">
                    <span class="c-category-title c-text-small">Category Title</span>
                    <h3>Lorem ipsum dolor</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a class="c-btn" href="">Primary Button</a>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- footer-->
<footer class="c-footer" role="contentinfo">
   placeholder footer
</footer>


</body>
</html>
