
/* ==========================================================================
   Colors
   ========================================================================== */

.c-bg-light {
	background-color: $bg-light;
}


/* ==========================================================================
  Showroom Slider
   ========================================================================== */

.c-showroom {
	overflow: hidden;
}

.c-showroom-slide,
.c-showroom-text .c-row {
	min-height: 100vh; 
}


/* min-height fix for ie11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   	.c-showroom-text .c-row:after {
		content: '';
		/*display: block;*/
		display: inline-block;
		min-height: inherit;
		font-size: 0;
	}
}


.c-showroom-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.c-showroom-img img,
.c-showroom-img video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* ==========================================================================
  Teaser
   ========================================================================== */

.c-teaser-item figure {
    margin-bottom: $spacing-xs;
}

/* ==========================================================================
  Cookie notice
   ========================================================================== */

.c-cookie-notice{
    display: none;
    position: fixed;
	right: 0;
    bottom: 30px;
    width: 400px;
    padding: 1.5rem 30px;
    background-color: $bg-light;
    color: $text-color;
    line-height: 1.5;
    text-align: left;
	border: solid 1px $border-basic;
	border-right: none;
}

@media only screen and (max-width:767px) {    
	.c-cookie-notice {
		width: 100%;
		bottom: 0;
		border: none;
		border-top: solid 1px $border-basic;
	}
	
}