/* ==========================================================================
   Footer
   ========================================================================== */

.c-footer {
	padding-top: 1.5em;
    
}

.c-footer-bg {
    background-color: $bg-dark;
}

.c-footer-main {
    padding-top: 5em;
    padding-bottom: 5em;
}

.c-footer-main p {
    max-width: 390px;
}

.c-footer-main .c-col-5::before {
    content:'';
    position: absolute;
    right: 20px;
    width: 3px;
    height: 100%;
    background-color: #336a9d;
}

.c-footer-disclaimer {
	padding-bottom: 1.5em;
}

.c-footer-disclaimer-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.c-footer-disclaimer-list li {
	display: inline-block;
    padding-right: 1em;
}