/* ==========================================================================
   Header
   ========================================================================== */
.c-header {
	background-color: $bg-light;
	z-index: 10;
}


.c-header-inner {
	height: 220px;
	display: flex;
	flex-flow: row;
    align-items: center;
	justify-content: space-between;
}


.c-header-logo {
	position: relative;
	width: 200px;
	height: 40px;
}

.c-header-logo a {
	display: block;
}


/* ==========================================================================
   main nav / filter list
   ========================================================================== */

.c-header-nav {
	text-align: right;
}

.c-header-meta {
    padding-bottom: 2.5rem;
}

.c-main-nav-list,
.c-meta-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.c-main-nav-list li,
.c-meta-list li {
	display: inline-block;
}

.c-main-nav-list li + li {
	padding-left: 2em;
}

.c-meta-list li + li {
	padding-left: 2em;
}


.c-main-nav-list a {
	display: inline-block;
	position: relative;
	padding-bottom: 0.5em;
}

.c-main-nav-list a::before {
	content:'';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	background-color: $color-highlight;
	transition: all 0.2s linear;
}


.c-main-nav-list a:focus::before,
.c-main-nav-list a:hover::before,
.c-main-nav-list .c-active a::before {
	height: 3px;
}


