/* ==========================================================================
   Header
   ========================================================================== */
.c-header {
	background-color: $bg-light;
	z-index: 10;
}


.c-header-inner {
	height: 220px;
	display: flex;
	flex-flow: row;
    align-items: center;
	justify-content: space-between;
}


.c-header-logo {
	position: relative;
	width: 310px;
}

.c-header-logo a {
	display: block;
}


/* ==========================================================================
   main nav / filter list
   ========================================================================== */

.c-header-nav {
	text-align: right;
}

.c-header-meta {
    padding-bottom: 2rem;
}

.c-main-nav-list,
.c-meta-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.c-main-nav-list li,
.c-meta-list li {
	display: inline-block;
}

.c-main-nav-list {
	padding-right: 40px;
}

.c-main-nav-list li {
	padding-right: 1rem;
}

.c-meta-list li + li {
	padding-left: 1.5em;
}


.c-main-nav-list a,
.c-main-nav-list a:focus,
.c-main-nav-list a:hover,
.c-main-nav-list a:visited,
.c-meta-list a,
.c-meta-list a:focus,
.c-meta-list a:hover,
.c-meta-list a:visited {
	color: $text-color;
}

.c-main-nav-list a {
	display: inline-block;
	position: relative;
    padding: 0.5em 20px;
    border-radius: 2em;
    border: solid 2px $border-basic;
    transition: all 0.2s linear;
}

.c-main-nav-list a:focus,
.c-main-nav-list a:hover,
.c-main-nav-list .c-active a {
	background-color: $color-highlight;
    border-color: $color-highlight;
    color: $text-color-light;
}

.c-main-nav-list li:nth-child(1) a:focus,
.c-main-nav-list li:nth-child(1) a:hover,
.c-main-nav-list li.c-active:nth-child(1) a {
    background-color: #669164;
    border-color: #669164;
}

.c-main-nav-list li:nth-child(2) a:focus,
.c-main-nav-list li:nth-child(2) a:hover,
.c-main-nav-list li.c-active:nth-child(2) a {
    background-color: #d1d3e0;
    border-color: #d1d3e0;
}

.c-main-nav-list li:nth-child(3) a:focus,
.c-main-nav-list li:nth-child(3) a:hover,
.c-main-nav-list li.c-active:nth-child(3) a {
    background-color: #ebcf4a;
    border-color: #ebcf4a;
}

.c-main-nav-list li:nth-child(4) a:focus,
.c-main-nav-list li:nth-child(4) a:hover,
.c-main-nav-list li.c-active:nth-child(4) a {
    background-color: #4f8cbb;
    border-color: #4f8cbb;
}

/*.c-main-nav-list a::before {
	content:'';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 3px;
	background-color: $color-highlight;
	transition: all 0.2s linear;
}


.c-main-nav-list a:focus::before,
.c-main-nav-list a:hover::before,
.c-main-nav-list .c-active a::before {
	width: 100%;
}*/


