/* ==========================================================================
   Slider Testimonial / Images
   ========================================================================== */

.c-testimonial-item {
    display: flex;
    flex-flow: row wrap;
    max-width: 980px;
}

.c-testimonial-item-img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    padding-right: 15px;
}

.c-testimonial-item-text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding-left: 15px;
}

.c-mediaslider .c-testimonial-item-text {
    white-space: normal;
}


.c-slider-img figure img{
    height: 450px;
    width: auto;
}

/* ==========================================================================
   Mediaslider
   ========================================================================== */

.c-mediaslider .c-row {
    margin-left: 0;
    margin-right: 0;
}

.c-slider {
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
    &::-webkit-scrollbar { 
        display: none;  // Safari and Chrome
    }
}

.c-slider-items {
    display: block;
    padding: 0;
    margin: 0;
    margin-right: 30px;
    list-style: none;
    white-space: nowrap;
    font-size: 0;
    li {
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        cursor: pointer;
        &.active{
            cursor: grabbing;
            transform: scale(1);                    
        }
    }

    li + li {
        padding-left: 20px;
    }
}

@media only screen and (min-width:1740px) {   
	.c-mediaslider-start .c-slider-items {
        margin-left: calc( ( ( 100vw - 1730px ) / 2 ) + 60px );
        li + li {
            padding-left: 60px;
        }
	}
	
	.c-mediaslider-start .c-row {
		justify-content: flex-end;
	}
    
    .c-testimonial-item-img {
        padding-right: 30px;
    }

    .c-testimonial-item-text {
       padding-left: 30px;
    }
}

@media only screen and (min-width:1400px) and (max-width:1739px) {   
	.c-mediaslider-start .c-slider-items{
        margin-left: 60px;
        li + li {
            padding-left: 60px;
        }
    }
}

@media only screen and (max-width:1399px) {   
	.c-mediaslider-start .c-slider-items {
        margin-left: 30px;
        li + li {
            padding-left: 30px;
        }
    }
}

