/* ==========================================================================
   Table
   ========================================================================== */

/* box around table, so it can scroll on small screens */
.c-table {
    overflow: auto;
}

.c-table-layout {
    width: 100%;
}

.c-table-layout th {
	padding: 0 15px 0.5em 0;
	border-bottom: solid 2px $border-basic;	
}

.c-table-layout td {
	padding: 0.5em 15px 0.5em 0;
	border-bottom: solid 1px $border-basic;	
}



/* Tour Dates */
table{
    width: 100%;    
}
table td{
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-highlight !important;
}
table tr{
    border-top:none;
    /*
    &:hover{
        color: $text-color;
        background-color: $color-highlight;

        a{
            color: $color-pink;
        }
    }
    */

    .location{
        font-size: 2rem;;
    }

    .venue{
        font-size: 1.3rem;
    }
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border:none;
}
.date span{
    display:block;
    text-align: center;
    line-height: 30px;
}
span.day{
    font-size: 4em;
    margin-bottom: 1rem;
}
span.month{
    font-size: 1.6em;
}

.tab-content{
    margin-top: 20px;
}


.btn.order{
    border: none;
    font-size: 2.5rem;
    background-color: #ff1493;    
}
/*
.btn.order:hover{
    background-color: white;
}
*/