/* ==========================================================================
   Base
   ========================================================================== */
html {
	font-size: 20px;
}

/* ==========================================================================
   Titles
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}


h1,
.c-h1 {
	padding-bottom: .5em;
	line-height: 1.1;
	font-size: 4.25rem; /* 85px */
	font-weight: 900;
}

h2,
.c-h2 {
	padding-bottom: .5em;
	line-height: 1.2;
	font-size: 3rem; /* 60px */
	font-weight: 900;
}


h3,
.c-h3 {
	line-height: 1.2;
	font-size: 2rem; /* 40px */
	padding-bottom: 0.5em;
	font-weight: 900;
}

h4,
.c-h4 {
	line-height: 1.333;
	font-size: 1.5rem; /* 30px */
	padding-bottom: 0.5em;
	font-weight: 900;
}

h5,
.c-h5 {
	line-height: 1.333;
	font-size: 1rem; 
	padding-bottom: 0.5em;
	font-weight: 900;
}


/* ==========================================================================
   Basic Text Content
   ========================================================================== */

.c-content,
.c-footer {
	line-height: 1.5;
}

.c-text-block p {
	padding-bottom: 1.5em;
}

.c-teaser-item p {
    padding-bottom: 0.75em;
}

.c-text-block p + h2,
.c-text-block p + h3,
.c-text-block p + h4,
.c-text-block ul + p,
.c-text-block ul + h2,
.c-text-block ul + h3,
.c-text-block ul + h4,
.c-text-block ul + ol,
.c-text-block ol + p,
.c-text-block ol + h2,
.c-text-block ol + h3,
.c-text-block ol + h4 {
	padding-top: 1.5em;
}

.c-lead {
	line-height: 1.333;
	font-size: 1.5rem; /* 30px */
}

.c-text-body,
.c-main-nav {
    font-size: 1rem;
}


.c-text-small,
.c-text-block blockquote cite,
.c-legend {	
	font-size: 0.85rem;
}

.c-legend {
	display: block;
	padding-top: $spacing-xs;
}

.c-category-title {
    display: block;
    padding-bottom: 0.2em;
}

b, strong {
    font-weight: 900;
}

.c-btn,
.c-form-standard input[type="submit"] {
    font-size: 1rem;
}

/* ==========================================================================
   Basic Lists Content 
   ========================================================================== */
.c-text-block ul,
.c-text-block ol,
.c-link-list {
	margin: 0;
	padding: 0 0 1.5em 0; 
	list-style: none;
}

.c-text-block ul li,
.c-text-block ol li {
	position: relative;
	padding-left: 34px;
}

.c-text-block ul li + li,
.c-text-block ol li + li, {
	margin-top: 0.5em;
}

.c-text-block .c-link-list li + li,
.c-link-list li + li {
	margin-top: 1em;
}

.c-text-block ul li::before {
	content: '\25CF';
    position: absolute;
    left: 0;
    top: 0;
	color: $color-highlight;
}

.c-text-block .c-link-list li::before {
   content:'';
}

.c-text-block .c-link-list li {
    padding-left: 0;
}

.c-text-block ol {
	counter-reset: custom-counter;
}

.c-text-block ol li {
	counter-increment: custom-counter;
}


.c-text-block ol li::before {
	content: counter(custom-counter) ". ";
	position: absolute;
	left: 0;
	top: 0;
	width: 26px;
	color: $color-blue-light;
	font-weight: bold;
	text-align: right;
}



/* ==========================================================================
   Quote
   ========================================================================== */

.c-text-block blockquote {
	margin: 0; 
	padding: 0;
}

.c-text-block blockquote p {
	position: relative;
	padding: 3.3rem 0 0 0;
	line-height: 1.333;
	font-size: 1.5rem; /* 30px */
	font-weight: 900;
}

.c-text-block blockquote p::before {
	content: '\00ab';
	display: block;
	position: absolute;
	left: 0;
	top: -3.3rem;
	font-size: 6.1rem;
	color: $color-blue-light;
	font-weight: 900;
	z-index: -1;
}

.c-text-block blockquote cite {
    position: relative;
    display: block;
    margin-top: 1.5em;
	padding-top: 0.85em;
	font-style: normal;
}

.c-text-block blockquote cite::before {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 4.5em;
    height: 3px;
    background-color: $color-blue-light;
}


/* ==========================================================================
   Text helpers
   ========================================================================== */

.c-text-right {
	text-align: right;	
}

.c-text-center {
	text-align: center;	
}

.c-text-light {
	color: $text-color-light;
}

/* ==========================================================================
   Text sizes responsive
   ========================================================================== */

@media only screen and (min-width:1400px) {   
    .c-text-body,
    .c-main-nav,
    h5,.c-h5,
    .c-btn,
    .c-form-standard input[type="submit"] {
        font-size: 1.2rem; 
    }

    .c-text-small,
    .c-text-block blockquote cite,
    .c-legend {	
        font-size: 1rem;
    }
}

@media only screen and (max-width:1399px) { 
    /* be resized to go with smaller body text */
    
    h1, .c-h1 {
        font-size: 4.25rem; /* 85px */
    }

    h2,
    .c-h2 {
        font-size: 3rem; /* 60px */
    }


    h3,
    .c-h3 {
        font-size: 2rem; /* 40px */
    }

    h4, .c-h4,
    .c-lead,
    .c-text-block blockquote p {
        font-size: 1.5rem; /* 30px */
    }
}


@media only screen and (max-width:1360px) {    
	h1, .c-h1,
	h2, .c-h2,
	h3, .c-h3{
		overflow-wrap: break-word;
		word-wrap: break-word;
		-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
	}
}




@media only screen and (max-width:767px) {    
	
	html {
		font-size: 16px;
	}
	
	h1, .c-h1 {
        font-size: 40px; /* 85px */
    }

    h2,
    .c-h2 {
        font-size: 30px; /* 60px */
    }


    h3,
    .c-h3 {
        font-size: 28px; /* 40px */
    }

    h4, .c-h4,
    .c-lead,
    .c-text-block blockquote p {
        font-size: 20px; /* 30px */
    }


}


