/* ==========================================================================
   Contentelements
   ========================================================================== */

/* small elements that don't need their own .scss */


/* ==========================================================================
   Colors
   ========================================================================== */

.c-bg-light {
	background-color: $bg-light;
}

.c-line-vertical {
	display: block;
	position: absolute;
	top: 0;
	left: 20px;
	height: 100%;
	width: 1px;
	background-color: $border-basic;
}

.c-line-top {
	border-top: solid 1px $border-basic;
}

.c-line-bottom {
	border-bottom: solid 1px $border-basic;
}

/* ==========================================================================
  images 
   ========================================================================== */

.c-copyright-container {
	display: block;
	position: relative;
}

.c-copyright-text {
	display: inline-block;
	position: absolute;
	bottom: 0.5em;
	right: 15px;
}

.c-img-wide {
	overflow: hidden;
}

.c-img-wide figure {
	margin-right: -20px;
}

/* ==========================================================================
  team
   ========================================================================== */

.c-team figure {
	margin-bottom: 1.5em;
}

/* ==========================================================================
  Cookie notice
   ========================================================================== */

.c-cookie-notice{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  background-color: $bg-dark;
  color: white;
  line-height: 1.8;
  text-align: center;
  display: none;
}

@media only screen and (max-width:768px) {    
	.c-cookie-notice {
		line-height: 1.5;
	}
	
	.c-cookie-notice span {
		display: block;
		padding-top: 1em;
	}
	
}