/* ==========================================================================
   Footer
   ========================================================================== */

.c-footer {
	padding-bottom: 1.5em;
}

.c-footer-main {
	min-height: 40px;
}

.c-footer-logo {
	position: relative;
	width: 20px;
	height: 40px;
	margin-left: -20px;
}

.c-footer p {
	padding-bottom: 1.5em;
}

.c-footer-disclaimer {
	padding-top: 1.5em;
}

.c-footer-disclaimer-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.c-footer-disclaimer-list li {
	display: inline-block;
}

.c-footer-disclaimer-list > li + li {
	padding-left: 10px;
}

.c-footer a,
.c-footer a:visited {
	color: $text-color;
}

.c-footer a:hover,
.c-footer a:focus {
	color: $text-color;
}