/* ==========================================================================
   Header
   ========================================================================== */
.c-header {
	padding-top: 1.5em;
	background-color: $bg-content;
	z-index: 10;
}


.c-header-inner {
	height: 40px;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}


.c-header-logo {
	position: relative;
	width: 160px;
	height: 40px;
	margin-left: -20px;
}

.c-header-logo-stripes {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 100%;
}

.c-header-logo-text {
	display: block;
	position: absolute;
	bottom: 8px;
	left: 30px;
	width: calc(100% - 30px);
	height: auto;
}

.c-header-logo a {
	display: block;
}


/* ==========================================================================
   main nav / filter list
   ========================================================================== */

.c-main-nav {
	justify-content: flex-end;
}

.c-main-nav-list {
	margin: 0;
	padding: 16px 0 0 0;
	list-style: none;
}

.c-main-nav-list li,
.c-filter-list li {
	display: inline-block;
}

.c-filter-list {
	margin: 0;
	padding-top: 0.75em;
	padding-right: 0;
	padding-bottom: 0;
	list-style: none;
}

.c-main-nav-list li + li {
	padding-left: 2em;
}

.c-filter-list li {
	padding: 0.75em 2em 0.75em 0;
}

.c-main-nav-list a,
.c-filter-list a {
	display: inline-block;
	position: relative;
	padding-bottom: 0.5em;
}

.c-main-nav-list a::before,
.c-filter-list a::before {
	content:'';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	background-color: $border-basic;
	transition: all 0.2s linear;
}


.c-main-nav-list a:focus::before,
.c-main-nav-list a:hover::before,
.c-main-nav-list .c-active a::before,
.c-filter-list a:focus::before,
.c-filter-list a:hover::before,
.c-filter-list .c-active a::before {
	height: 8px;
}


