/* ==========================================================================
   Header
   ========================================================================== */
.c-header {
	padding-top: 1.5em;
	background-color: $bg-content;
	z-index: 10;
}


.c-header-inner {
	height: 40px;
}


.c-header-logo {
	position: relative;
	width: 160px;
	height: 40px;
	margin-left: -20px;
}

.c-header-logo-stripes {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 100%;
}

.c-header-logo-text {
	display: block;
	position: absolute;
	bottom: 8px;
	left: 30px;
	width: calc(100% - 30px);
	height: auto;
}

.c-header-logo a {
	display: block;
}


