<!DOCTYPE html>
<html lang="de" id="open-navigation">
	<head>
		<meta charset="utf-8">
		<title>Prototype</title>
		<meta name="author" content="neofluxe GmbH">

		<!-- Preventing IE11 to request by default the /browserconfig.xml more than one time -->
		<meta name="msapplication-config" content="none">
		<!-- Disable touch highlighting in IE -->
		<meta name="msapplication-tap-highlight" content="no">
		<!-- Ensure edge compatibility in IE (HTTP header can be set in web server config) -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<!-- Force viewport width and pixel density. Plus, disable shrinking. -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Disable Skype browser-plugin -->
		<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
		

		<link rel="stylesheet" href="../../../dist/assets/css/main.1.min.css">
	</head>
	<body>
		
		
		
		<!-- header-->
		<header class="c-header" role="banner">
			<!-- line vertical-->
			<span class="c-line-vertical"></span>
			<!-- header inner-->
			<div class="c-container-wide c-line-top c-line-bottom">
				<div class="c-container c-container-no-padding c-header-inner">
					placeholder header
				</div>
			</div>
		</header>

		<!-- content-->
		<main class="c-content" role="main">
			<!-- line vertical-->
			<span class="c-line-vertical"></span>
			
			<!-- title-main -->
			<div class="c-container-wide c-title-main c-line-top">
				<div class="c-container">
					<div class="c-row">
						<div class="c-col-9 c-text-padding">
							<h1>Teaser <span>lorem ipsum</span></h1>
							<p class="c-lead">
								At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
							</p>
						</div>
					</div>
				</div>
			</div>
			
			
			<!-- teaser img text -->
			<div class="c-container-wide c-teaser-img-text c-line-top c-line-bottom">
				<div class="c-container c-container-no-padding">
					<!-- use c row reverse for switching img places-->
					<div class="c-row c-row-reverse">
						<div class="c-col-7 c-teaser-img-text-col-img">
							<figure>
								<img src="../../../dist/assets/images/tmp/img-teaser-big.jpg" alt="" />
							</figure>
						</div>
						<div class="c-col-5 c-teaser-img-text-col-text c-text-block c-text-padding-var">
							<span class="c-title-category">Verkauf / Wohnbau</span>
							<h2>Wohnbau MFH <span>Walperswil</span></h2>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
							<p><a class="c-icon c-link-arrow" href="">mehr erfahren</a></p>
						</div>
					</div>
				</div>
			</div>
			
			<!-- teaser img text -->
			<div class="c-container-wide c-teaser-img-text c-line-top c-line-bottom">
				<div class="c-container c-container-no-padding">
					<div class="c-row">
						<div class="c-col-7 c-teaser-img-text-col-img">
							<figure>
								<img src="../../../dist/assets/images/tmp/img-teaser-small.jpg" alt="" />
							</figure>
						</div>
						<div class="c-col-5 c-teaser-img-text-col-text c-text-block c-text-padding-var">
							<span class="c-title-category">Verkauf / Wohnbau</span>
							<h2>Wohnbau MFH <span>Walperswil</span></h2>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
							<p><a class="c-icon c-link-arrow" href="">mehr erfahren</a></p>
						</div>
					</div>
				</div>
			</div>
			
			
			<!-- teaser img text, variante verkauf -->
			<div class="c-container-wide c-teaser-img-text c-line-top c-line-bottom">
				<div class="c-container c-container-no-padding">
					<!-- use c row reverse for switching img places-->
					<div class="c-row c-row-reverse">
						<div class="c-col-7 c-teaser-img-text-col-img">
							<figure>
								<img src="../../../dist/assets/images/tmp/img-teaser-big.jpg" alt="" />
							</figure>
						</div>
						<div class="c-col-5 c-teaser-img-text-col-text c-text-block c-text-padding-var">
							<span class="c-title-category">Verkauf / Wohnbau</span>
							<h2>Wohnbau MFH <span>Walperswil</span></h2>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
							<dl class="c-info-list">
								<dt>Ort</dt>
								<dd>Sutz</dd>
								<dt>Gesamtfläche</dt>
								<dd>5‘536 m2</dd>
								<dt>Fertigstellung</dt>
								<dd>2014</dd>
								<dt>Preis</dt>
								<dd>nach Anfrage</dd>
							</dl>
							<p><a class="c-icon c-link-extern" href="">www.lorem-ipsum.ch</a></p>
						</div>
					</div>
				</div>
			</div>
			
			<!-- teaser verkauf 2 col text-only -->
			<div class="c-container-wide c-teaser-text c-line-top c-line-bottom">
				<div class="c-container c-container-no-padding">
					<div class="c-row c-row-">
						<div class="c-col-5 c-text-block c-text-padding">
							<span class="c-title-category">Verkauf / Wohnbau</span>
							<h2>Wohnbau MFH <span>Walperswil</span></h2>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
							<dl class="c-info-list">
								<dt>Ort</dt>
								<dd>Sutz</dd>
								<dt>Gesamtfläche</dt>
								<dd>5‘536 m2</dd>
								<dt>Fertigstellung</dt>
								<dd>2014</dd>
								<dt>Preis</dt>
								<dd>nach Anfrage</dd>
							</dl>
							<p><a class="c-icon c-link-extern" href="">www.lorem-ipsum.ch</a></p>
						</div>
						<div class="c-col-5 c-text-block c-text-padding-var">
							<span class="c-title-category">Verkauf / Wohnbau</span>
							<h2>Wohnbau MFH <span>Walperswil</span></h2>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
							<dl class="c-info-list">
								<dt>Ort</dt>
								<dd>Sutz</dd>
								<dt>Gesamtfläche</dt>
								<dd>5‘536 m2</dd>
								<dt>Fertigstellung</dt>
								<dd>2014</dd>
								<dt>Preis</dt>
								<dd>nach Anfrage</dd>
							</dl>
							<p><a class="c-icon c-link-extern" href="">www.lorem-ipsum.ch</a></p>
						</div>
					</div>
				</div>
			</div>
			
			
			<!-- teaser cta -->
			<div class="c-container-wide c-teaser-cta c-bg-light c-line-top c-line-bottom">
				<!-- line vertical-->
				<span class="c-line-vertical"></span>
				<!-- content-->
				<div class="c-container c-container-no-padding">
					<div class="c-row c-row-justify-center">
						<div class="c-col-8 c-text-block c-text-padding-var">
							<span class="c-title-category">Dienstleistung</span>
							<h2 class="c-h1">Wir schätzen <span>Ihre Immobilie</span></h2>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
							<a class="c-btn" href=""><span class="c-icon c-link-arrow">Kontaktieren Sie uns</span></a>
						</div>
					</div>
				</div>
			</div>
			
			

		</main>

		<!-- footer-->
		<footer class="c-footer" role="contentinfo">
			<!-- line vertical-->
			<span class="c-line-vertical"></span>			
			<!-- footer main-->
			<div class="c-container-wide c-line-top c-line-bottom">	
				<div class="c-container c-container-no-padding c-footer-main">
					placeholder footer
				</div>
			</div>
		</footer>

		<!-- cookie notice-->
		<!--<div class="c-cookie-notice" id="cookie-notice">
            <p>This website uses cookies. If you continue to use the site, we assume your consent - <span><a href="/disclaimer.html" class="c-btn c-btn-small">More Info</a> - <a class="c-btn c-btn-small" href="#" id="accept-cookie-notice">OK</a></span></p>
        </div>-->
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="../../../dist/assets/js/minimal.1.min.js?v=1.1"></script>

	</body>
</html>
