/* ==========================================================================
   Project Fonts
   ========================================================================== */


   

   @font-face {
		font-family: 'Strawford';
		font-display: fallback;
		font-style: normal;
		font-weight: 400;
		font-stretch: normal;
		src: 	/*url($webfont-lanz-architekten_light_woff2) format('woff2'),*/
				url($Strawford-Regular_woff) format('woff');
   }

   @font-face {
		font-family: 'Strawford';
		font-display: fallback;
		font-style: normal;
		font-weight: 900;
		font-stretch: normal;
		src: 	/*url($webfont-lanz-architekten_bold_woff2) format('woff2'),*/
				url($Strawford-Black_woff) format('woff');
   }


