/* Variables, Naming may vary from project to project */

/* ==========================================================================
   Fonts (see '_fonts.scss' for more information on license)
   ========================================================================== */

	/* @import must be at top of file, otherwise CSS will not work */
	/* @import url('//hello.myfonts.net/count/426563'); */

	$font-stack-default: 'Strawford', 'Arial', 'Helvetica', sans-serif;


/* ==========================================================================
   Colors
   ========================================================================== */

	/* text */
	$text-color: #000; 
	$text-color-light: #fff;
    $text-color-medium: #707070;
	$color-highlight: #004584; /* dark blue */
    $color-blue-light: #81C3C0;

	/* background */
	$bg-content: #fff;
	$bg-dark: #004584; /* dark blue */
	$bg-light: #f9f9f9; /* light grey */

	/* line-colors */
	$border-basic: #ccc;
    $border-dark: #707070;


	/* form */
	$border-form: #707070;
	$border-form-focus: #000;
	$form-disabled: #ccc;
	$color-form-error: #dd0000;



/* ==========================================================================
   Spacing
   ========================================================================== */

	/* text */
	$spacing-l: 6rem; 
    $spacing-m: 3rem; 
    $spacing-s: 1.5rem; 
    $spacing-xs: 1rem;