/* ==========================================================================
   Project Fonts
   ========================================================================== */


/*
        Achtung, Fonts sind ncoh nicht lizenziert und nur zu Testzwecken eingebunden!
*/

@font-face {
  font-family: 'TheSans';
  src: url('../fonts/TheSansB-W3Light.woff2') format('woff2');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
	font-display: fallback;
}


@font-face {
  font-family: 'TheSans';
  src: url('../fonts/TheSansB-W7Bold.woff2') format('woff2');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
	font-display: fallback;
}

