/* Variables, Naming may vary from project to project */

/* ==========================================================================
   Fonts
   ========================================================================== */

$font-stack-default: 'Roboto', 'Arial', 'Helvetica', sans-serif;


/* ==========================================================================
   Colors
   ========================================================================== */

/* text */
$text-color: #1D1D1B; /* dark grey */
$text-color-light: #fff;

$color-highlight: #1D1D1B; /* dark grey */

/* background */
$bg-content: #fff;
$bg-dark: #1D1D1B; /* dark grey */
$bg-light: #f9f9f9; /* light grey */

/* line-colors */
$border-basic: #ebebeb;

 
/* form */
$border-form: #818084;
$border-form-focus: #000;
$form-disabled: #ccc;
$color-form-error: #dd0000;


/* ==========================================================================
   Breakpoints
   ========================================================================== */
